/*

  Theme Name: QuickStart - MultiPurpose HTML5 Template for Startup 

  Author:pixicoder

  Support: pixicoder@gmail.com

  Description: Creative HTML5 Template.

  Version: 1.0

*/



/* CSS Index

-----------------------------------

1. Theme default css

2. Header

3. Slider

4. How work

5. Access

6. Price

7. Testimonial

8. Brand

9. Newsletter

10. Footer

*/



/* 1. Theme default css */

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
    font-family: 'code_boldregular';
    src: url('assets/fonts/code_bold-webfont.woff2') format('woff2'),
    url('assets/fonts/code_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'code_lightregular';
    src: url('assets/fonts/code_light-webfont.woff2') format('woff2'),
    url('assets/fonts/code_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

 body {
	font-family: 'Karla', sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #7b8491;
	font-size: 16px;
}

.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}

.f-left {
	float: left
}

.f-right {
	float: right
}

.fix {
	overflow: hidden
}

button {
	cursor: pointer;
	transition: .3s;
}

a,
.button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}

a:focus,
a:hover{
	color: #dddddd;
	text-decoration: none;
}
a,
button {
	color: #ff5b5b;
	outline: medium none;
}

button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'code_boldregular' sans-serif;
	color: #233d63;
	margin-top: 0px;
	font-style: normal;
	line-height: 1.2;
	transition: .3s;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}

h1 {
	font-size: 48px;
	font-weight: 500;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none
}

p {
	font-size: 15px;
	font-weight: 400;
	line-height: 28px;
	color: #7b8491;
	margin-bottom: 15px;
	transition: .3s;
}

hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}

label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}


/* button style */



.cmn-btn {
	background: #00c867;
	border-radius: 50px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 1;
	margin-bottom: 0;
	padding: 17px 35px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	white-space: nowrap;
	border: 1px solid #00c867;
	position: relative;
}

.border-btn {
    background: transparent;
    border-color: #fff;
    color: #00c867;
}



/* 2. Header */

.section-bg{
	background-image: url(assets/img/section-bg.jpg)
}

.section-padding {
    position: relative;
}

.section-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 59%;
    height: 100%;
    background-size: cover;
}

.section-bg::after {
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: green;
    position: absolute;
    opacity: .6;
}

.contact-form input, .contact-form text-area {
    padding: 13px;
    width: 100%;
    border: 1px solid #fff;
    margin-bottom: 23px;
    color: #333;
}

.contact-form h2{
	color: #fff;
}

.contact-form input:focus {
    border: 1px solid red;
}

.contact-form input[type=submit] {
    width: auto;
    padding: 15px 30px;
    color: green;
    font-weight: 700;
}

.appointment-text {
    padding-left: 100px;
}